@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto:wght@300;400;700&display=swap');

/*////////////////////
    Table of Contents
    1.  Global Styles
    2.  Typography
    3.  Layout
    4.  Scrollbar
    5.  Header
    5.1 Header-Image
    5.2 Header-Navigation
    6.  Button
    7.  Service
    8.  Contact
    9.  Footer
    10. Media Queries


////////////////////*/

/*--------------------- 1. Global Styles ---------------------*/

.body {
    background-color: cornflowerblue;
}



:root {
    --main-font: Merriweather;
    --main-text-weight: 500;
    --second-font: 'Roboto', sans-serif;
    --second-font-line-height: 20px;

    --light-brown: #251009;
    --dark-brown: #150A06;
    --pink: #FF003D;
    --green: #1AE216;
    --light-yellow: #FAF34A;
    --white: #FFFFFF;
    --black: #010101;

    --text-logo: #CEA71E;
    --text-color-error: #F40000;

    --border: 0.2em solid var(--black);
    --dropshadow: 0.4em 0.4em 0 var(--black);

    --margin: 2em;
}

#root {
    display: flex;
    justify-content: center;
}

* {
    padding: 0;
    /*Met de padding worden de hoogtes en breedtes van de elementen berekend en inclusief padding en borders*/
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    background: var(--white)
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/*---------------------2.Typography---------------------*/

.page-title h1 {
    font-size: 1.8em;
    margin: 0.1em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Merriweather, 'Times New Roman', serif;
    /*margin-top: 0.5em;*/
}

h2 {
    font-size: 2.0rem;
    /*2.0rem = 33px* uitgaand van standaard 16pixel*/
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
}


p {
    font-size: 1em;
    margin-bottom: 1rem;
}

/*---------------------3.Lay-out ---------------------*/

/* De buitenste container is altijd de volledige schermbreedte. Een flexibel container met de inhoud horizontaal gecentreerd*/

.outer-content-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
    min-height: 80vh;
    overflow: hidden;
}

/*De binnenste container is maximaal 1400px breed, zodat deze ook op bredere schermen er goed blijft uitzien.*/
/*De binnenste container mag krimpen als het scherm minder breed wordt, maar mag niet groeien als er meer ruimte is.*/
.inner-content-container {
    flex-basis: 1400px;
    flex-shrink: 1;
    flex-grow: 0;
    /* Aan de linker en rechterkant voegen we margin toe, zodat de content nooit helemaal tegen de rand gedrukt kan worden*/
    margin: 0 20px;
    /*Deze flex-item is ook een flexbox container, hier komen alle children onder elkaar te staan*/
    flex-direction: column;
    display: flex;
    align-items: center;
    z-index: 2;
}

.left-section-container {
    display: flex;
    justify-content: center;
    width: 50%;
}

.right-section-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.cannoliCard-container {
    padding-top: 100px;
}


/*We gebruiken hier geen flex-basis property, omdat dit element soms in een parent met column-richting en soms in een parent met row-richting kan staan.
In een column gaat flex-basis over de hoogte en niet de breedte. Om alsnog de breedte te veranderen, hebben we max-width (nooit groter dan dit) property nodig*/
.default-text-restrictor {
    max-width: 850px;
    text-align: center;
}
/*--------------------- 4.Scrollbar ---------------------*/

.scrollbar::-webkit-scrollbar {
    width: 8px;
}

.scrollbar::-webkit-scrollbar-track {
    background: none;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--white);
    border-radius: 20px;
    border: 3px solid var(--white);
}

.list-title {
    width: 400px;
    text-align: center;
}

.CannoliList {
    font-family: var(--second-font);
    height: 648px;
}


/*--------------------- 5.Header ---------------------*/


#header {
    background: var(--dark-brown);
    /*Voor verouderde browsers die geen gradients ondersteunen. Bij deze valt de browser terug op de "effen" achtergrondkleur hierboven*/
    background: linear-gradient(129deg, var(--dark-brown) 0%, var(--dark-brown) 30%, var(--light-brown) 100%);
    color: var(--white);
    padding: 50px 0;
    position: relative;
}

#header::before {
    content: '';
    display: block;
    width: 4.8em;
    height: 6em;
    position: absolute;
    margin-bottom: 1.2rem;
}

#header::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 4rem;
    opacity: 0.6;
    background-position: top center;
    background-size: auto;
}

.header .logo {
    width: 12em;
    padding: 1em ;
    margin: var(--margin);
    transform:revert;
}

/*---------------------5.1 Header-Image ---------------------*/

.header-img-container {
    top: -12px;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-img {
    width: 100%;
    min-height: 5rem;
    background-color: var(--dropshadow);
}


/*---------------------5.2 Header-Navigation ---------------------*/

.header-content__navigation {
    display: flex;
    flex-direction: row;
    /*De <ul> die in de <nav> zit, wordt rechts (einde van de rij) uitgelijnd */
    justify-content: flex-end;
    /*De <nav> moet de beschikbare breedte van de pagina aannemen, anders valt er niks uit te lijnen aan de rechterkant */
}

.nav-container {
    background-color: var(--dark-brown);
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    padding: 1em;
    position: relative;
    width: 100%;
    top: -0.5em;
    left: -4%;
    border: var(--border);
    box-shadow: var(--dropshadow);
    z-index: 2;
    font-size: 1rem;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-timing-function: ease;
    animation-duration: .6s;
}


.nav-home {
    animation-name:animateLeftSideDown;
    transform: rotate(-1.2deg);
}

@keyframes animateLeftSideDown {
    50% {transform: rotate(-1.2deg);}
}

.nav-cannoli {
    animation-name: animateLeftSideDownLight;
    transform: rotate(-1.2deg);
}

@keyframes animateLeftSideDownLight {
    50% {transform: rotate(1.8deg);}
}

.nav-geschenkbox {
    animation-name: animateLeftSideDownLight;
    transform: rotate(-1.2deg);
}

@keyframes animateLeftSideDownLight {
    50% {transform: rotate(1.8deg);}
}

.nav-franchise {
    animation-name: animateRightSideDownLight;
    transform: rotate(-1.2deg);
}

@keyframes animateRightSideDownLight {
    50% {transform: rotate(1.8deg);}
}

.nav-service {
    animation-name: animateRightSideDownLight;
    transform: rotate(-1.2deg);
}

@keyframes animateRightSideDownLight {
    50% {
        transform: rotate(1.8deg);}
}

.nav-contact {
  animation-name: animateRightSideDown
}

@keyframes animateRightSideDown {
    50% {transform: rotate(2.2deg);}
}

/*---------------------6 Button---------------------*/

button:visited {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    background-color: var(--pink);
    margin: var(--margin);
    border: var(--border);
    border-radius: 50px;
    box-shadow: var(--dropshadow);
    padding: 1.2em 2.2em;
}

button:hover {
    cursor: pointer;
    /*transform: translateY(0.1em);*/
    /*box-shadow: 0.3em 0.3em 0 var(--black);*/
}

button:active {
    transform: translate(0.4em);
    color: var(--white);
    box-shadow: 0.1em 0.1em 0 var(--black);
}

.button-text {
    display: flex;
}

.button-text::after {
    content: "→";
    margin-left: 0.2em;
    transform: translateX(0.5em);
}

/*--------------------- Page ---------------------*/

.page-content {
    margin: 4ch;
    position: relative;
}




/*--------------------- Footer ---------------------*/

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    height: 0.1em;
    border: var(--border);
    width: 95%;
    margin: 1em;
}

.footer {
    width: 80%;
    display: flex;
    justify-content: space-around;
    gap: 5%;
    margin: var(--margin);
    flex-wrap: wrap;
}

.footer-menu, .footer-txt, .footer-logo {
    margin-top: var(--margin);
}

.footer-menu {
    flex-grow: 1;
    max-width: 20ch;
}

.footer-txt {
    text-align: center;
    flex-grow: 2;
    max-width: 40ch;
}

.footer-logo{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    max-width: 20ch;
}

.footer.logo {
    width: 6em;
    padding: 1em;
    transform: rotate(-1.3deg);
}

.color-swatches {
    display: flex;
}

.color-swatches div{
    width: 2.5em;
    height:2.5em;
    margin: 2px;
}

.footer-color-dark-brown {
    background-color: var(--dark-brown);
}

.footer-color-pink {
    background-color: var(--pink);
}

.footer-color-green {
    background-color: var(--green);
}

.footer-color-light-yellow {
    background-color: var(--light-yellow);
}

.color-swatches div:hover {
    border: var(--border);
}



/*--------------------- Media Queries ---------------------*/

/*Omdat hier maar zo weinig media-queries nodig zijn is er gebruik gemaakt van een max-width query.*/
/*Normaliter maak je altijd gebruik van min-width queries, waarbij de versie voor mobiel buiten de query staat, */
/*en de versie voor desktop juist BUITEN de query*/

/*MOBILE RESPONSIVE*/
@media screen and (max-width:600px) {
    .outer-content-container {
        display: flex;
        flex-direction: column;
    }

    .left-section-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 260px;
    }

    .right-section-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .right-box-container {
        padding-top: 0px;
    }

    .cannoliCard-container {
        padding-top: 20px;
    }

    .scrollbar {
        max-height: 220px;
    }

    .list-title {
        width: 340px;
    }

    .cannolilist {
        height: 420px;
    }

    button:visited {
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: white;
        background-color: var(--pink);
        margin: var(--margin);
        border: var(--border);
        border-radius: 50px;
        box-shadow: var(--dropshadow);
        padding: 1.2em 2.2em;
    }

    button:hover {
        cursor: pointer;
        transform: translateY(0.1em);
        box-shadow: 0.3em 0.3em 0 var(--black);
    }

    button:active {
        transform: translate(0.4em);
        color: var(--white);
        box-shadow: 0.1em 0.1em 0 var(--black);
    }

    .button-text {
        display: flex;
    }

    .button-text::after {
        content: "→";
        margin-left: 0.2em;
    }
}

